

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  position: absolute;
  z-index: -1;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: auto;
}

.content-section_theme_white {
  color: #fff;
  background-color: #131313;
}

.header {
  display: flex;
  width: 1100px;
  padding-bottom: 95px;
  background-color: #fff;
}

.header__links-list {
  margin: 137px 15px 0 49px;
  display: flex;
  padding: 1px 0 10px 0;
  width: 420px;
  list-style: circle;
  align-items: center;
  gap: 13px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-right: 22px;
  display: flex;
  text-underline-offset: auto;
}

.header__logo {
  display: block;
  min-height: 104px;
  width: 149px;
  margin: 92px 178px 0 0;
}

.header__logo-image {
  flex-shrink: 0;
}

.address {
  width: 240.521px;
  min-height: 98px;
  flex-shrink: 0;
}

.header__address {
  margin: 98px 49px 0 14px;
}

.address__link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.18px;
  display: block;
  text-underline-offset: auto;
}

.address__text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.18px;
  display: block;
  text-underline-offset: auto;
}

.cover {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 1100px;
  min-height: 757px;
  color: #fff;
  background-image: url(../images/cover.jpg);
}

.cover__title {
  display: grid;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  row-gap: 9px;
  padding: 168px 50px 80px 50px;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140px;
  text-transform: uppercase;
  word-spacing: 19px;
  padding-left: 76px;
}

.bet-button {
  color: #fff;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #fff;
  margin-right: 51px;
  background: transparent;
  padding: 10px;
  width: 256px;
}

.lots {
  width: 1100px;
  min-height: 874px;
  padding: 180px 24px 33px 24px;
  color: #fff;
}

.lots__heading {
  margin-left: 41px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  width: 1053px;
  min-height: 562px;
  gap: 24px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 335px;
  min-height: 450px;
}

.lots__look-more-link {
  display: block;
  padding: 29px 20px 0 42px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 3px;
} 

.card-link {
  display: block;
  width: 334px;
  min-height: 563px;
  flex-shrink: 0;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  width: 334px;
  min-height: 563px;
  padding: 49px 40px;
  color: #fff;
  justify-content: space-between;
  flex-direction: column;
}

.card_type_film {
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.about {
  display: grid;
  width: 1100px;
  min-height: 750px;
  padding: 146px 18px 10px 18px;
  grid-template-columns: 364px 700px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  margin: 4px 0 0 52px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about__title {
  padding: 104px 0 100px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  padding-bottom: 26px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
}

.footer {
  display: flex;
  width: 1070px;
  min-height: 170px;
  justify-content: space-between;
  margin: 84px 20px 58px 20px;
  padding: 56px 20px 25px 20px;
}

.address {
  width: 240.521px;
  min-height: 98px;
  flex-shrink: 0;
}

.footer__address {
  padding-left: 13px;
}

.footer__address-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
  display: block;
}

.footer__address-text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
  display: block;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
  width: 149px;
  padding-top: 3px;
  margin-left: 16px;
  text-underline-offset: 3px;
}

.footer__menu-link {
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  list-style: none;
  padding-right: 20px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}
/* место для вашего кода */
